.post
{
    background: royalblue;
    color: black;
    height: 90px;
    width: 325px;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    margin-top: 5px;
    display: flex;
}
.menu
{
    background: rgb(225, 65, 158);
    color: black;
    height: 190px;
    width: 105px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    margin-top: 5px;
    margin-right: 0px;
}
.menupost
{
    background: white;
    height:auto;
    width: auto;
    display: flex;
    margin: 0px;
}
.header
{
    background: rgb(97, 225, 65);
    color: black;
    height: 60px;
    width: 440px;
    border: 2px solid black;
    text-align: center;
    display: flex;
}
p 
{
    font-size: 18px;
    margin: auto;
}